.pagination {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: absolute;
  bottom: -45px;
}

.button {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid rgba(225, 225, 225, 0.18);
  border-radius: 10px;
  color: white;
  padding: 10px 60px;
}
