.informationContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  color: white;
  height: 100%;
}

.navigationContainer {
  flex: 0.5;
}

.information {
  flex: 4;
  text-align: justify;
  padding: 1rem 3rem;
  letter-spacing: 0.1rem;
}

.news {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  gap: 3px;
}

.notifyMe {
  color: white;
  /* text-decoration: none; */
  font-size: 0.75rem;
}

.socialMediaContainer {
  flex: 1;
}

.rights {
  font-size: 0.7rem;
  text-align: center;
}
