.informationContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 2rem;
  color: white;
  height: 100%;
  overflow-y: scroll;
}

.descriptionContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.navigationContainer {
  flex: 0.5;
}

.information {
  text-indent: 1em;
  flex: 4;
  text-align: justify;
  padding: 1rem 3rem;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}

.news {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  gap: 3px;
  font-size: 2rem;
}

.notifyMe {
  color: white;
  /* text-decoration: none; */
  font-size: 0.75rem;
}

.socialMediaContainer {
  flex: 1;
}

.rights {
  font-size: 0.7rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .informationContainer{
  grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0.3rem;
    padding-top: 1rem;

  }
}
