.links {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 300;
  top: 2rem;
  left: 0;
}

.activeLink {
  border-bottom: 2px solid #fed108;
}
