.photo-card-grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-card-grid-photo-container {
  display: flex;
  width: 100;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
}
