.photoPage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.imageContainer {
  flex: 2;
  overflow: hidden;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.informationContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.footer {
  position: absolute;
  bottom: 1rem;
}
@media only screen and (max-width: 767px) {
  .photoPage {
    flex-direction: column;
  }
  /* .image {
    height: auto;
  }
  .imageContainer {
    display: flex;
  } */
}
