.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  border-radius: 5px;

  background-color: rgba(33, 147, 33, 0.787);
  color: #fff;
}

.toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: -60px;
  animation: ToastAppear 4s;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  border-radius: 5px;

  color: #fff;
  background-color: rgba(147, 33, 37, 0.9);
}

@keyframes ToastAppear {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(100px);
  }

  100% {
    background-color: transparent;
    color: transparent;
    display: none;
  }
}
