.background {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 200000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo {
  object-fit: contain;
  position: relative;
  z-index: 1100;
}
