.background {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 200000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  color: #fff;
  height: 30px;
  width: 30px;
  z-index: 1110;
}

.photo {
  object-fit: contain;
  position: relative;
  z-index: 1100;
}
