.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex: 1;
  height: 100%;
}

.icon:hover {
  scale: 1.1;
  animation: 0.2s make-bigger ease;
}

@keyframes make-bigger {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}
