.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.modulesContainer {
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
