@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&family=Luxurious+Roman&family=Montserrat:wght@100&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&display=swap");
html {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif Display";
  min-height: 100vh;
  background-image: linear-gradient(15deg, #00084d, #2c4389);
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  color: #fcf8ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-weight: 300;
  font-size: 5rem;
}
h2 {
  font-weight: 300;
  font-size: 2rem;
}

img {
  height: inherit;
}

input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Noto Serif Display";
  color: #000000;
  padding: 6px;
}
