.home-container {
  height: 100vh;
}

.title {
  font-weight: 100;
  margin-top: 30vh;
  margin-left: 10vw;
  font-size: 4rem;
  border-bottom: 2px solid #fed108;
}

.subtitle {
  font-weight: 100;
  font-size: 2, 5rem;
  margin-left: 10vw;
}
