.photo-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.photo-container {
  display: flex;
  width: 95%;
  height: 95%;
  background: rgba(16, 18, 27, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex: 2;
  cursor: pointer;
}

.image-component {
  height: 300px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
}

.image-limit {
  height: 600px;
  overflow: hidden;
  width: 600px;
  display: block;
  border-radius: 3px;
}

.information {
  flex: 1;
  display: grid;
  padding-left: 15px;
}
.description {
  margin-top: 0px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
.go-back {
  border: 1px solid #fcf8ff;
  padding: 3px 25px;
  border-radius: 5px;
}
.go-back:hover {
  background-color: #fcf8ff;
  color: #000000;
  border-color: rgba(16, 18, 27, 0.4);
}
.request-button {
  padding: 3px 25px;
  border-radius: 5px;
  border: 1px solid #fed108;
  cursor: pointer;
}
.request-button:hover {
  border-color: rgba(16, 18, 27, 0.4);
  background-color: #fed108;
  color: #000000;
}

@media (max-width: 1000px) and (min-width: 651px) {
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 4rem;
    width: 80%;
    flex: none;
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .image-limit {
    width: 100%;
    height: auto;
  }
  .photo-container {
    flex-direction: column;
    flex: 1;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 4rem;
    flex: none;
    cursor: pointer;
  }

  .information {
    flex: 1;
  }
}
