.uploads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: #2c4389;
  color: #fcf8ff;
  border: 1px solid #fed108;
  padding: 3px 25px;
}
